/* id_clases.css */
.titulo {
    font-size: 2em;
    color: darkblue;
}

#destacado {
    background-color: yellow;
    color: red;
}

.contenido {
    color: black;
    margin: 20px 0;
}

.contenido.especial {
    background-color: lightgreen;
    border: 4px solid darkgreen;
}
